.container-fluid {
  max-width: 800px;
  margin-top: 20px; }

.header {
  margin: 20px 0; }

.logo h1 {
  font-size: 24px;
  margin-top: 0; }

#prices h3 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px; }

#walk-images {
  margin-top: 20px;
  margin-bottom: 20px; }

.jumbotron {
  background-image: url("../images/walk3.jpg");
  background-position: -20px -120px; }
  .jumbotron h2 {
    margin-top: 60px;
    font-size: 24px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 1.3em;
    padding: 20px 25px; }
    .jumbotron h2 #contact-me {
      width: 100%;
      white-space: normal;
      border: none; }

.about-info {
  overflow: hidden; }
  .about-info #profile-image {
    float: left;
    width: 35%;
    min-width: 200px;
    margin-right: 20px;
    margin-bottom: 10px; }

.testimonial-author {
  cursor: pointer; }

#testimonials {
  margin-bottom: 25px; }

.testimonial-quote p {
  margin-top: 30px;
  font-size: 1.3em;
  line-height: 1.7em;
  background-image: url("../images/quotemark.png");
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 50px;
  color: gray; }
  .testimonial-quote p span {
    display: block;
    color: silver;
    font-size: 0.9em;
    font-style: italic; }

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0 50px 0;
  margin-top: 50px; }
  .footer .copyright-info {
    margin-top: 20px;
    color: gray;
    font-style: italic;
    text-align: right; }
    .footer .copyright-info a {
      color: gray; }
